# AI Model (Too large for Git)
llama_quiz_expert/
model_brain.zip

# Logs and Debug outputs
*.txt
*.log
test-output.txt
db_scan_output.txt

# Node.js
node_modules/
.env
uploads/

# Python
__pycache__/
*.pyc
venv/
.ipynb_checkpoints/
server/*.log
client/dist/
